
*.pyc
*.cfg
*.docx
logs
data
*.dat
*.log
__pycache__
*.swp
tmp
*.csv
*.bak
tt_local_config.py
tt_conf.py
tags*.txt
tags*.cfg
*.db
test*.*
settings.json
.vscode
.mypy_cache
zotto.py
tmp_*.*
ttdev
client_local_config.py
web_local_config.py
database_local_config.py
*~
web/estimator_calibration_config.json
estimator_calibration_config.json
